@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap');

:root {
    --main-color : #222222 ;
    --heading-bottom : white ;
    --primary-color : #444444 ;
    --border-color : rgb(56, 53, 53) ;
    --secondary-color : #007CED ;
    --menus-color-active : white ;
    --menus-color: #979595 ;
    --heading-color-1 : white ;
    --heading-color-2 : #b9b8b8 ;
    

} 
* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box ;
}

.pad-sm {
    padding-top: 1px
}
body {
    background-color: var(--main-color);
    font-weight: 18px;
    font-size: 15px;
    line-height: 1.4;
    font-family: 'Poppins', Arial, sans-serif;
    overflow-x: hidden;
}
.showcase {
    position: relative;
    right: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    /* padding: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.showcase.active
{
  right: 400px;
}
header {
    width: 100%;
    height: 100vh;
    padding: 2.5rem 4rem;
    background-color: var(--main-color);
    position: relative;
    z-index: 10 ;
}

nav {
    padding: 10px 40px;
}

@media (max-width : 700px) {
    nav {
        padding: 10px 40px;
    }
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
}
.nav-logo {
    color:  var(--heading-color-1);
    font-weight: bold;
    font-size: 32px ;
}
.menu-icon {
    /* padding: 0 20px; */
    padding: 0 10px;
    display: none;
    cursor: pointer;
}
.mobile {
    background-image: url('../imgs/menu.png');
    position: relative  ;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    cursor: pointer;
    /* margin-left: 200px; */
} 

.mobile.active {
    /* display: none */
    background-image: url('../imgs/close.png');
    position: relative;
    height: 60px;
    width: 60px;
    margin-left: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    cursor: pointer;
    background-color: white;
    clip-path:circle(50%);
    align-items: center;
} 

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    /* width: 100% ; */
    height: 100%;
    position: fixed ;   
}

.mobile-menu a {
    color: var(--primary-color) ;
    display: block;
    text-decoration: none;
    padding: 20px 100px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.mobile-menu a:hover {
    color: var(--secondary-color);
}

.mobile-menu a:first-child {
    margin-top: 200px;
}


/* Header Image and Content */
.header-about {
    z-index: 10;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap ; */
}
.header-about-profile img   {
    border: 20px solid var(--border-color);
    /* border: 20px solid rgb(56, 53, 53); */
    border-radius: 50%;
    
}
.header-about-profile {
    width: 700px;
    margin-left: 100px;
}
.header-about-content {
    width: 900px;
    margin-right: 100px;
}

.header-about-content:nth-child(odd){
    padding-top: 120px
}
.header-about-content-bio {
    color: var(--heading-color-2);
    font-weight: 300;
}
.header-about-content-name {
    color: var(--heading-color-1);
    font-size: 60px;
}
.header-about-content-detail     {
    color: var(--heading-color-2 );
    padding-bottom: 30px;
}
.header-about-content-button {
    color: var(--menus-color-active) ;
    text-decoration: none;
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    padding: 10px 50px;
}

/* Media Queries */
@media (max-width:1130px) {
    .header {
        height: 100%;
    }
    .header-about {
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap ; */
    }
    .header-about-profile {
        width: 100%;
        margin-left: 0;
        /* margin-left: 100px; */
    }
    .header-about-content {
        width: 100%;
        margin-right: 0;
        /* margin-right: 100px; */
    }
    
}
@media (max-width:930px) {
    .header {
        height: 100%;
        padding: 2.5rem 2rem;
    }
    .mobile-menu {
        display: block;

    }
    .nav-menus a {
        display : none ;
    }
    .mobile {
        /* padding: 0 20px; */
        padding: 0 10px;
        display: block;
        margin-top: -10px;
    }
    .mobile.active {
        display: block;
    }
    .header-about {
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap ;
        text-align: center;
    }
    
    .header-about-content {
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
        /* margin-le: 70px; */
        /* margin-right: 100px; */
    }
    .header-about-content-name {
        color: var(--heading-color-1);
        font-size: 30px;
    }

    /*  */

    .svg-icon {
        width: 2em;
        height: 2em;
        padding: 5px 6px;
      }
}

.clear {
    float : clear
}

/* About Section And Heading */
.about {
    background-color: var(--main-color);
    /* width: 100vw; */
    position: absolute;
    z-index: 150;
    top: 100%;
    left: 0;
}

.about-heading {
    position: relative;
    margin-top: 100px;
} 
.about-heading h4{ 
    font-size: 24px;
    color: var(--heading-color-1);
    position: relative;
    padding: 5px 20px;
    
}
.about-heading h4::after {
    display: block;
    position: absolute;
    content: '';
    width: 3%;
    background-color: var(--secondary-color);
    height: 2px;
    bottom: 0px;
}
.about-heading h4::before {
    display: block;
    position: absolute;
    content: '';
    width: 9%;
    background-color: var(--primary-color);
    height: 2px;
    bottom: 0;
}


.about-items-content-heading {
    font-size: 20px;
    font-weight: 300;
}

/* About Item styling */
.about-grid {
    /* max-width: 1200px; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width : 56.25em) {
    .about-grid {
        grid-template-columns : 1fr 1fr   
    }

    .about {
        padding: 20px 4rem;
    }
   }
.about-items {
    padding: 22px 0px;
    display: flex;
    justify-content: space-evenly;
    /* padding: 1; */
}

.about-items-content-heading {
    color: var(--heading-color-1);
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}
.about-items-content-details {
    color: var(--heading-color-2) ;
    padding: 5px;
}


/* SVGs */

.svg-icon {
    width: 6em;
    height: 6em;
    padding: 10px 12px;
  }

  @media (max-width : 700px) {
  .svg-icon {
    width: 3em;
    height: 3em;
    padding: 5px 6px 6px;
    margin-left: 10px;
  }
  }
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }